@import '../../variables';


.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 10px;

}

.text-animate-hover {
    display: inline-block;
    min-width: 10px;
    animation-fill-mode: both;

    &:hover {
        animation: jello 1s;
        color: $secondary-color;
    }
}

@for $i from 1 through 35 {
    .text-animate._#{$i} {
        animation-delay: calc($i / 10)s;
    }
}