
.hamburger-container {
    display: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top : 30px;
    right: 0;
    margin: 10px;
    z-index: 9999;

    #hamburger {
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 1rem;
    }
}


@media screen and (max-width : 640px){
    .hamburger-container {
        display: block;
    }
}