@import '../../variables';



.hamburger-container {
    display: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top : 30px;
    right: 25px;
    margin: 10px;
    background: $primary-color;
    z-index: 9999;

}

.hamburger-button { 
    width: 30px; 
    height: 24px;
    position: relative; 
    cursor: pointer; 

    .line { 
        width: 30px; 
        height: 3px; 
        background-color: #fff; 
        position: absolute; 
        border-radius: 10px;
        transition: all .4s ease-in-out;

        &:nth-child(2) {
            width: 20px;
            transform: translateY(10px);
        }

        &:nth-child(3) {
            transform: translateY(20px);
        }
    }
}


.hamburger-button.open {
    .line1 { 
        transform: rotate(45deg); 
        top: 10px;
    }

    .line2 { 
        opacity: 0; 
        transform: translateX(-30px);}

    .line3 { 
        transform: rotate(-45deg); 
        top: 10px;
    }
}
 
 



@media screen and (max-width : 640px){
    .hamburger-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}