@import '../../variables';


.app {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 100vh;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow-y: auto;
}

.top-tags  {
    bottom: auto;
    top: 35px;
}

.tags {
    color: $secondary-color;
    opacity: .6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px;
    font-family: 'La Belle Aurore';
}

.bottom-tag-html {
    margin-left: -20px;
}

.container {
    padding: 10px 5%;
    width: 100%;
    min-height: 100%;
    will-change: contents;
    opacity: 0;
    z-index : 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
}

.home-page,
.contact-page,
.about-page,
.work-page
 {

    h1 {
        
        /* In this example, the font size is 1.5rem larger than the default value plus 3% of the viewport width. */
        font-size: calc(1.5rem + 3vw);
        font-family: 'Pacifico';
        color: $secondary-color;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: 10px;

        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            font-size: 18px;
            position: absolute;
            margin-top: -10px;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
        }

        &::after {
            content: '</h1>';
            font-family: 'La Belle Aurore';
            font-size: 18px;
            position: absolute;
            margin-left: 20px;
            left: -30px;
            bottom : -20px;
            opacity: 0.6;
            line-height: 18px;
        }
    }

    p {
        font-size: 13px;
        color : #fff;
        font-weight : 300;
        min-width : fit-content;
        animation : pulse 1s;

        @for $i from 1 through 35 {
            &.paragraph_#{$i} {
                animation-delay: #{1+$i/10}s;
            }
        }
    }

    .text-animate-hover {
        &:hover{
            color: #fff;
        }

    }
}


@media screen and (max-width : 640px){
    .app {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width : 1300px){
    .container {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}


