@import '../../_variables';


#logo {
    animation: logoFill 3s ease forwards 3s;
    stroke: white;
    fill: transparent;

    path {
        animation: logoAnim ease forwards 3s 6s;
        stroke-dasharray: 1383.435791015625;
        stroke-dashoffset: 1383.435791015625;
    }
}

@keyframes logoAnim {
    to {
        stroke-dashoffset: 0;
        fill : $secondary-color;
    }
}

