@import '../../variables';


.about-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    .skills {
        position: relative;
        width: 100%;
        background: lighten($color: $primary-color, $amount: 0.8);
        margin: auto;
        padding: 15px 25px;
        border-radius: 7px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        animation: fadeInDown .6s ease-in-out forwards;
    }
    .skill-box {
        width: 100%;
        margin: 25px 0;

        .title {
            display: block;
            font-size: 14px;
            font-weight: 600;
            color:#fff;
        }

        .skill-bar {
            height: 8px;
            width: 100%;
            background-color: darken($color: $primary-color, $amount: 3);
            border-radius: 6px;
            margin-top: 6px;
        }

        .skill-bar .skill-per {
            position: relative;
            display: block;
            height: 100%;
            width: 90%;
            background: $secondary-color;
            border-radius: 6px;
            animation: progress 1s ease-in-out forwards;
            opacity: 0;
        }

        .skill-bar .skill-per {
            position: relative;
            display: block;
            height: 100%;
            width: 90%;
            background: $secondary-color;
            border-radius: 6px;
            animation: progress 1s ease-in-out forwards;
            opacity: 0;

            &.html {
                width: 90%;
            }
            &.css {
                width: 85%;
            }
            &.js {
                width: 70%;
            }
            &.reactjs {
                width: 65%;
            }
        }
        @for $i from 1 through 5 {
            .skill-bar .skill-per:nth-child(#{$i}) {
                animation-delay: #{1 + $i / 10}s
            }
        }
        .tooltip {
            position: absolute;
            right: -14px;
            background: $secondary-color;
            top: -28px;
            font-size: 9px;
            font-weight: 500;
            color: #fff;
            border-radius: 3px;
            padding: 2px 6px;
            z-index: 1;
            
            &::before {
                content: "";
                height:10px;
                width: 10px;
                left: 50%;
                position: absolute;
                bottom: -2px;
                background-color: $secondary-color;
                transform: translateX(-50%) rotate(45deg);
                z-index: -1;
            }
        }

    }    
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        
        opacity: 1;
    }
}

@media screen and (max-width : 1300px){
    .about-page  {
        display: block;
    }
}