@import '../../variables';


.home-page {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    max-height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    .text-animate-hover:hover {
        color : $secondary-color;
    }


    .text-zone {
        h1 {
            color: #fff;
            font-size: 45px;
            margin: 0;
            font-family: "Helvetica Neue";
            font-weight: 400;
            &::before{
                content: "<h1>";
                font-family: "La Belle Aurore";
                color: $secondary-color;
                font-size: 18px;
                position: absolute;
                margin-top: -40px;
                left: 15px;
                opacity: 0.6;
            }
            &::after{
                content: "</h1>";
                font-family: "La Belle Aurore";
                color: $secondary-color;
                font-size: 18px;
                position: absolute;
                margin-top: 18px;
                margin-left: 20px;
                animation: fadeIn 1s 1.7s backwards;
                opacity: 0.6;
            }
        }
    
        h2 {
            color: #8d8d8d;
            margin-top: 20px;
            font-weight: 400;
            font-size: 11px;
            font-family: sans-serif;
            letter-spacing: 3px;
            animation: fadeIn 1s 1.8s backwards;
        }
    
        .flat-button{
            color: $secondary-color;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 4px;
            font-family: sans-serif;
            text-decoration: none;
            padding: 10px 18px;
            border: 1px solid $secondary-color;
            margin-top: 25px;
            float: left;
            animation: fadeIn 1s 1.5s backwards;
            white-space: nowrap;
            transition: .6s;
    
            &:hover {
                background: $secondary-color;
                color : #333;
    
            }
    
        }
    }

    .home-img-container {
        justify-self: flex-end;

        .home-img {
            position: relative;

           img {
                display: block;
                opacity: 0;
                filter: drop-shadow(0px 0px 0 lighten($primary-color, 10%));
                animation : fadeInUp 2s forwards 3s, dropShadow 2s forwards 6s;
            }

        }
    }
}

@keyframes dropShadow {
    to {
        filter: drop-shadow(25px 10px 0 lighten($primary-color, 10%));
    }
}