@import '../../variables';




@keyframes uncleSamStroke {
    to {
        stroke-dashoffset: 0;
    }

}

@keyframes uncleSamFill {
    to {
        fill : $secondary-color;
    }

}

.home-page {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100% ;
    align-items: center;
    .text-animate-hover:hover {
        color : $secondary-color;
    }


    .text-zone {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        margin: auto;

        svg {
            display: block;
            position: relative;
            width: 100%;

            @for $i from 1 through 8 {
                path:nth-child(#{$i}) {
                    animation-delay: #{2 + $i}s;
                }
            }
            
            path {
                stroke : white;
                stroke-width: 2;
                filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
                fill : transparent;
                animation: uncleSamStroke 2s ease-in-out infinite alternate, uncleSamFill 2s forwards ease-out;;

                &:nth-child(1) {
                    stroke-dasharray: 553.3744506835938;
                    stroke-dashoffset: 553.3744506835938;
                        
                } 
                &:nth-child(2) {
                    stroke-dasharray: 295.2279052734375;
                    stroke-dashoffset: 295.2279052734375;
                } 
                &:nth-child(3) {
                    stroke-dasharray: 221.4600830078125;
                    stroke-dashoffset: 221.4600830078125;
                } 
                &:nth-child(4) {
                    stroke-dasharray: 383.05059814453125;
                    stroke-dashoffset: 383.05059814453125;
                } 
                &:nth-child(5) {
                    stroke-dasharray: 230.0675048828125;
                    stroke-dashoffset: 230.0675048828125;
                }
                &:nth-child(6) {
                    stroke-dasharray: 442.94586181640625;
                    stroke-dashoffset: 442.94586181640625;
                }  
                &:nth-child(7) {
                    stroke-dasharray: 271.531982421875;
                    stroke-dashoffset: 271.531982421875;
                } 
                &:nth-child(8) {
                    stroke-dasharray: 385.7425842285156;
                    stroke-dashoffset: 385.7425842285156;
                } 
            }
            &::before{
                content: "<h1>";
                font-family: "La Belle Aurore";
                color: $secondary-color;
                font-size: 18px;
                position: absolute;
                margin-top: -40px;
                left: 15px;
                opacity: 0.6;
            }
            &::after{
                content: "</h1>";
                font-family: "La Belle Aurore";
                color: $secondary-color;
                font-size: 18px;
                position: absolute;
                margin-top: 18px;
                margin-left: 20px;
                animation: fadeIn 1s 1.7s backwards;
                opacity: 0.6;
            }
        }

        h2 {
            color: white;
            font-family: 'Pacifico';
            font-size: 3.5em;
            font-weight: 200;
            align-self: flex-start;
            transform: translateY(30px);
        }
    
        h3 {
            color: #8d8d8d;
            margin-top: 20px;
            font-weight: 400;
            font-size: 11px;
            font-family: sans-serif;
            letter-spacing: 3px;
            animation: fadeIn 1s 1.8s backwards;
        }
    
        .flat-button{
            color: $secondary-color;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 4px;
            font-family: sans-serif;
            text-decoration: none;
            padding: 10px 18px;
            border: 1px solid $secondary-color;
            margin-top: 25px;
            float: left;
            animation: fadeIn 1s 1.5s backwards;
            white-space: nowrap;
            transition: .6s;
    
            &:hover {
                background: $secondary-color;
                color : #333;
    
            }
    
        }
    }
}



// @media screen and (max-width : 1300px){
//     .home-page  {
//         grid-template-columns: 1fr;

//         h1 {
//             font-size: calc(2rem + 3vw);
//         }
//     }
// }