@import '../../variables';


.contact-page {
    width: 90%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;

    .animated-logo {
        #logo {
            display: block;
            margin: auto;
        }
    }
}

.contact-form {
    width: 100%;
    margin-top: 20px;
    ul {
        padding: 0;
        margin: 0;
        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
        }

        span.group {
            display: flex;
            justify-content: space-between;

            li {
                width: 49%;
            }
        }
    }

    input[type="text"],
    input[type="email"] {
        width: 100%;
        border: 0;
        background-color: lighten($primary-color, 8%);;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;
    } 

    textarea {
        width: 100%;
        border: 0;
        background: lighten($primary-color, 8%);
        font-size: 16px;
        color: #fff;
        padding: 20px;
        min-height: 150px;
        box-sizing: border-box;
    }

    .flat-button {
        color: $secondary-color;
        background: 0 0;
        font: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid $secondary-color;
        float: right;
        border-radius: 4px; 
    }
}
