@import '../../variables';


.nav-bar {
    background: #181818;
    width : 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    overflow-y: auto;
    z-index: 99;

    .logo{
        display: block;
        padding: 15px 0;

        img{
            display: block;
            width: 45px;
            height: auto;
            margin: 8px;

        }
        .sub-logo{
            color: white;
            text-decoration: none;
            text-align: center;
        }
    }

    nav {
        display : block;
        text-align: center;
        width: 100%;

        a {
            font-size: 22px;
            color: #4d4d4e;
            display: block;
            line-height: 51px;
            height: 51px;
            position: relative;
            text-decoration: none;

            i {
                transition: all 0.3s ease-out;
            }

            &:hover {
                color: $secondary-color;

                svg {
                    opacity: 0;
                }
                &::after {
                    opacity: 1;
                }
            }
            
            &::after {
                content: "";
                font-size: 9px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                transition: all 0.3s ease-out;
            }

            &:first-child {
                &::after {
                    content: 'HOME';
                }
            }
            &.about-link {
                &::after {
                    content: 'ABOUT';
                }
            }
            &.contact-link {
                &::after {
                    content: 'CONTACT';
                }
            }
            &.work-link {
                &::after {
                    content: 'WORK';
                }
            }
            &.active {
               svg {
                color: $secondary-color;
               } 
            }
        }
    }

    ul {

        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;

        li {
            a {
                padding: 7px 0;
                display: block;
                font-size : 15px;
                line-height: 16px;
                color: #4d4d4e;

                &:hover svg {
                    color: $secondary-color; 
                }
            }
        }
    }
}

@media screen and (max-width : 640px){
    .nav-bar {
        opacity: 0;
        z-index : -1;
        position: absolute;
        transition: all .5s ease-in-out;
        
        &.active {
            opacity: 1;
            z-index : 99;
        }
    }
}